//========================
// FONTS & COLOR VARIABLES
//========================

// FONTS
$font-light: 400;
$font-bold: 700;

// COLORS
$pokemon-ball-red: #DA333C;
$border: #010101;
$main-text: #010101;
$white: #FFF;
$pikachu-yellow: #EBD33A;

//==========================
//GENERAL STYLES
//==========================

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Orbitron", sans-serif;
    line-height: 1.6;
    padding-left: 20px;
}

.page-header {
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: $pokemon-ball-red;
    color: $white;
    font-weight: $font-bold;
    text-shadow: 0 1px $main-text;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 5px solid $border;

    a,
    a:visited,
    a:active {
        color: $white;
        text-decoration: none;
    }
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 12px;
    padding-left: 20px;
}

//=============================
// HEADER
//=============================

nav {
    flex-grow: 3;
}

.logo {
    height: 80px;
    margin-bottom: 0;
}

.navbar-brand {
    flex-grow: 2;
    align-self: center;
    height: 80px;
    width: auto;
    list-style-type: none;
    padding-left: 20px;
}

.form-group {
    flex-grow: 1;
    align-self: center;
    padding: 0 26px;
    max-width: 300px;
    margin-bottom: 0px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

//=============================
// MAIN
//=============================

// POKEMON LIST
//=============================

.row {
    padding-top: 150px;
}

.pokemon-list-column {
    background-color: $pikachu-yellow;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border: solid white 6px;
}

@media all and (max-width: 733px) {
    .row {
        padding-top: 220px;
    }
}

// MODAL
//=============================

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 500;

    /*
    to allow scrolling if the screen is not high enough
    */
    overflow: auto;
}

#modal-container.is-visible {
    display: block;
}

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //border: 1px solid black;
    border-radius: 10px;
    z-index: 1000;
    background: #FFF;
    width: 80%;
    max-width: 500px;
    padding: 10px 15px;
}

.modal-content {
    border: none;
}

.modal-header {
    border-bottom: 2px solid $pokemon-ball-red;
}

.modal-close {
    cursor: pointer;
    //border: 0;
    //background: none;
    //color: #777;
    //text-decoration: none;
    //font-size: 1.25rem;
    //font-weight: bold;
}

.modal-body {
    padding: 20px 15px;
}